* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .row {
    height: 90px;
    background-color: #2C3E50;
}

.h_580 {
    height: 580px;
}

.h_320 {
    height: 300px;
}

.h_490 {
    height: 490px;
}

.blue {
    background-color: #277DCD;
}

