/* Nessun errore rilevato */

/* Regola generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Palette Colori */
:root {
  --bg_header: #2c3e50;
  --bg_hero: #1abc9c;
  --bg_about: #1abc9c;
  --bg_footer_top: #3a546d;
}

/*#region Colori di Backgound */
.bg_header {
  background-color: var(--bg_header);
}

.bg_hero {
  background-color: var(--bg_hero);
}

.bg_about {
  background-color: var(--bg_about);
}

.bg_footer_top {
  background-color: var(--bg_footer_top);
}

/*#endregion*/

/*#region modifiche testo */
.text_white {
  color: white;
}
.text_grey {
  color: #98a0a6;
}
.text_about {
  color: var(--bg_about);
}
.text_left {
  text-align: left;
}
/* Bordi tolti al Form */
.border_none {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
/*#endregion*/

/* Hero Image */
#hero {
  height: 170px;
}

/* Stella con linee HR */
.star,
.star_2 {
    font-size: xx-large;
}

/* Linee Chiare */
.star > hr {
  width: 20%;
  height: 3px;
  color: white;
}

/* Linee scure */
.star_2 > hr {
  width: 20%;
  height: 3px;
  color: black;
}

/* Opacità sulle Horizontal line */
hr {
  opacity: 100%;
}

/* Icone del Footer */
.btn_cont {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.abs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


/* Font copyright piccolo */
.copy {
    font-size: small;
}

